@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global css start */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    padding: 140px 206px;
}
.btn{
    background-color: #FFF;
    padding: 18px;
    border-radius: 5px;
    color: #005FAC;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 600;
    transition: .3s ease;
}
.btn:hover{
    background-color: #ebe7e7;
}
/* Global css end */


/* header start */
.home{
    width: 100%;
    height: 100vh;
    background-image: url('./imagesh/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    text-align: right;
}

.home .container-heading{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 60px;
    font-weight: 700;
}
.home .container-para{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding:20px 0 40px 0;
}
/* header end */


/* previous start */

/* previous end */