@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global css start */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    padding: 140px 15%;
}
.primare-btn{
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-family: Work Sans;
    padding: 16px 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    margin-top: 20px;
    transition: .3s ease;
}
.primare-btn:hover{
    border: 2px solid #FFF;
    background: transparent;
    color: #FFF;
}
/* Global css end */


/* header start */
.home{
    width: 100%;
    height: 100vh;
    background-image: url('./imagesh/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: right;
    gap: 25px;
}
.home .container-heading{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 65px;
    font-weight: 700;
}
.home .container-para{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
}
/* header end */


/* previous start */
.previous-content{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.previous-content .previous-vew{
    width: 60%;
}
.previous-content .previous-vew img{
    width: 80%;
}
.previous-content .previous-dtl .year{
    color: #151414;
    font-family: "Work Sans";
    font-size: 40px;
    font-weight: 700;
    max-width: 350px;
    line-height: normal;
    padding: 24px 0;
}
.previous-content .previous-dtl .year-dtail{
    max-width: 416px;
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 16px 0;
}
.previous-dtl .list-mark li{
    color:  #444343;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.previous-content .previous-dtl{
    margin-top: 150px;
}
/* previous end */


/* My Plans start  */
.my-plans{
    padding-top: 0;
}
.my-plans .my-plans-headline{
    text-align: center;
    color:  #151414;
    font-family: "Work Sans";
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 100px;
}
.my-plans .my-all-plans{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.my-plans .plans{
    text-align: center;
}
.plans .plans-title{
    color: #151414;
    font-family: "Work Sans";
    font-size: 30px;
    font-weight: 700;
    padding: 24px 0 16px 0;
}
.plans .plans-des{
    color: #737272;
    font-family: "Work Sans";
    font-size: 25px;
    font-weight: 500;
}
/* My Plans end */


/* advertisement start */
.advertisement{
    padding-top: 0;
}
.advertisement .advertisement-content{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-image: url('./imagesh/gradient1.png'),
                    url("./imagesh/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    flex-wrap: wrap;
} 
.advertisement .advertisement-content-dtail{
    padding: 50px 65px;
    width: 600px;
}
.advertisement .advertisement-content-dtail h2{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 40px;
    font-weight: 700;
}
/* advertisement end */


/* footer start */
footer{
    background-color: #151414;
    color: #F8F8F8;
}
.footer-container{
    display:flex;
    align-items: start;
    justify-content: space-between;
}
footer .footer-dtail h3{
    color: #F8F8F8;
    font-family: "Work Sans";
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 16px;
}
footer .footer-dtail p{
    max-width: 550px;
    color: #FFF;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 24px;
}
footer .footer-dtail small{
    display: block;
    padding:0 0 16px 0;
}
footer .footer-dtail .icons{
    margin-top: 27px;
}
footer .footer-subscription{
    display: inline-block;
}
footer .footer-subscription h4{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 25px;
    font-weight: 600;
}
footer .footer-subscription input{
    display: block;
    margin-top: 32px;
    padding: 15px ;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 5px;
    color: #fff;
}
footer .footer-subscription input:focus{
    outline: none;
}
footer .footer-subscription input[placeholder]{
    color: #fff;
}
/* footer end */